<!DOCTYPE html>
<html>
    <head>
        <title>Weather app - 404</title>
        <link rel="stylesheet" href="/css/styles.css" >
        <link rel="icon" href="/img/weathericon.png"  >
    </head>
    <body>
        <div class="main_content">
        {{>header}}
        <img class= "_404" src="/img/Lovepik_com-400217866-404-page-error.png">
        </div>
        {{>footer}}
    </body>
</html>