<!DOCTYPE html>
<html>
    <head>
        <title>Weather app - about</title>
        <link rel="stylesheet" href="/css/styles.css" >
        <link rel="icon" href="/img/weathericon.png"  >
    </head>
    <body>
        <div class="main_content">
        {{>header}}
        <img src="/img/a72a0718a2994c859ced470debeb3462.jpg" class="profile">
        </div>
        {{>footer}}
    </body>
</html>