<!DOCTYPE html>
<html>
    <head>
        <title>Weather app - about</title>
        <link rel="stylesheet" href="/css/styles.css" >
        <link rel="icon" href="/img/weathericon.png"  >
    </head>
    <body>
        <div class="main_content">
        {{>header}}
        <p>this app was created by Mahmoud Qurashy</p>
        <p>mah-qurashy@outlook.com</p>
        </div>
        {{>footer}}
    </body>
</html>