<!DOCTYPE html>
<html>
    <head>
        <title>Weather app - help</title>
        <link rel="stylesheet" href="./css/styles.css" >
        <link rel="icon" href="/img/weathericon.png"  >
    </head>
    <body>
        <div class="main_content">
        {{>header}}
        <p>Use this app to find the weather in your Location. </p>
        <p>Just type your address in the search bar and click "Search".</p>
        </div>
        {{>footer}}
    </body>
</html>