
<footer class="bodytext">
    <div class="links">
<a class="linkstext" href="/">Weather</a>
<a class="linkstext" href="/about">About</a>
<a class="linkstext" href="/help">Help</a>
</div>
<div class="footercreated">
Created by  {{name}}
</div>
</footer>