.bodytext{
    font-family: 'Segoe UI'
}
._404 {
    width: 512px;
    margin-top: 48px
}
._404text{

    font-family: 'Segoe UI Light';
    font-size: 24px;
    margin: 15px
}
body{
    margin: 0 auto;
    text-align: center;
    display:flex;
    flex-direction: column;
    min-height:100vh
}
.main_header{
    float: center;
    text-align: center;
    margin: 0 auto;
    color: #4a5bff;
    margin-top: 24vh;
}
.main_headertext {
    font-family: 'Segoe UI Light';
    font-size: 48px;
    margin: 0px;
    padding: 15px
}
footer{
    float: center;
    text-align: center;
    width:  920px;
    margin: 5px auto;
    border-top: 1px solid #B0B0B0;
    color: #808080;
    display: flex;
}
.links{
    float:left;
    text-align: left;
    color: white;
    padding: 10px 0
}
.linkstext,.linkstext:active,.linkstext:visited{
    font-family: 'Segoe UI';
    font-size: 16px;
    text-decoration: none;
    color: black;
    padding: 10px
}
.linkstext:hover,
.linkstext:visited:hover{
    color: #4a5bff;
    background-color: #F6F6F6
}

.linkstext:active,
.linkstext:visited:active
{
    color: #3a4bEf;
    background-color: #F0F0F0
}
.footercreated{
    float:right;
    text-align:  right;
    flex-grow: 1;
    padding: 10px 
}
.main_content{
    flex-grow: 1;
    width: 800px;
    margin: 0 auto;
    
}
#msg1,#msg2{

    font-family: 'Segoe UI Light';
    font-size: 24px;
    margin: 15px;
    margin-top:36px
}
button,input{
    font-family: 'Segoe UI Light';
    font-size: 20px;
    padding:6px;
    margin: 42px 0;
}
input{
    width: 380px
}
button{
    width:96px
}
::placeholder{
    font-style: italic;
    opacity:0.6
}
p{
    font-family: 'Segoe UI Light';
    font-size: 20px;
}